<h1>Сообщение из Формы обратной связи</h1>

<div>
  Вы получили сообщение из формы обратной связи сайта <%= link_to 'TestGuru Project', root_url %>:

  <p>Email: <%= @email %></p>
  <p>Сообщение: <%= @text %></p>
</div>