<h3> All Questions: </h3>

<table>
  <tr>
    <th>id</th>
    <th>Body(answers)</th>
    <th>test_id</th>
    <th>created_at</th>
  </tr>
  
  <%= render @questions%>
</table>
<p>
<%= link_to 'Back', tests_path %>
</p>
