<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('admin.nav.header') %></span>

  <div class="nav-admin user">
    <%= t('admin.nav.welcome', wel: @current_user.email) %></b> |
    <%= link_to t('admin.nav.log'), destroy_user_session_path, method: :delete %>
  </div>
</div>