<% if resource.errors.present? %>
  <div>
    <%= t('.header', count: resource.errors.count) %>:
    <ul>
      <% resource.errors.details.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>