<% if resource.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <%= t('.header', count: resource.errors.count) %>:
    <ol>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>