<h1> All Questions: </h1>

<table>
  <tr>
    <th>id</th>
    <th>Body(answers)</th>
    <th>test_id</th>
    <th>created_at</th>
    <th colspan="3">Actions</th>
  </tr>
  
  <%= render @questions%>
</table>
<p>
<%= link_to 'Back', admin_tests_path %>
</p>
