<h3> All Tests: </h3>

<table>
  <tr>
    <th>id</th>
    <th>Title(questions)</th>
    <th>Level</th>
    <th>created_at</th>
  </tr>
  <%= render @tests%>
</table>
<p>
<%= link_to 'All questions', questions_path %>
</p>